*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    position: relative;
}
.red{
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(100% 0, 100% 85%, 50% 35%, 0 85%, 0 0);
    background-color: red;
    z-index: -1;
}
.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container > h1{
    position: absolute;
    font-size: 330px;
    color: white;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-family: monument;
    font-weight: 400;
}
nav{
    height: 10%;
    width: 100%;
    position: absolute;
    /* background-color: palevioletred;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.left{
    height: 80%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: royalblue; */
}
.left > img{
    height: 80%;
}
.logo{
    margin-top: 10px;
    background-color: white;
    height: 100%;
    width: 20%;
    margin-left: 10px;
    clip-path: polygon(100% 0, 100% 75%, 50% 35%, 0 75%, 0 0);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.right{
    height: 60%;
    display: flex;
    width: 5%;
    /* margin-right: 20px; */
    /* background-color: yellow; */
}
.bottom{
    height: 20%;
    width: 100%;
    position: absolute;
    /* background-color: yellowgreen; */
    bottom: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monument;
    padding: 0 330px;
   
}

.bottom h1{
    /* padding-right: 90px; */
    font-size: 55px;
}
.text {
    position: absolute;
    bottom: 13%;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
    width: 20%;
    right: 42%;
    font-size: 20px;    
    font-family: open sans;
    font-weight: 700;
}
.text1{
    position: absolute;
    bottom: 6%;
    right: 50.7%;
    font-size: 22px;
    font-family: open sans;
    font-weight: 700;

}
.arrow{
    height: 6%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 50%;
    padding: 0 5%;
    /* background-color: yellow; */
}